# Dependencies
node_modules/

# Build Outputs
dist/
backend/cdk.out/
backend/dist/
backend/lib/*.js
backend/lib/*.d.ts

# Environment Variables
.env
.env.*
! .env.example

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Testing
coverage/

# IDEs
.idea/
.vscode/
*.swp
